{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}

{% block section %}
<section>
    <div class="container-fluid mt-4">
        <div class="row px-2">
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                    <div class="col-lg-12 sidebar slidecustom1 my-4">
                        <a href="{% url 'goods:buypage' category.slug %}" class="{% if category.slug == category_slug %}current-category{% else %}other-category{% endif %}">
                            {{ category.name }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    {% for product in goods %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">
                            {% if product.image %}
                                <a href="{% url 'goods:product' product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" alt="card"></a>
                            {% else %}
                                <a href="{% url 'goods:product' product.slug %}"><img src="{% static 'deps/image/кольцочёрное.png' %}" class="card-img-top" alt="card"></a>
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title"><a href="{% url 'goods:product' product.slug %}">{{ product.name }}</a></h4>
                                <p class="product_id">id: {{ product.display_id }}</p>
                                {% if product.discount %}
                                    <p><strong><s>{{ product.price }}</s>$</strong></p>
                                    <p><strong>{{ product.sell_price }}$</strong></p>
                                    <span class='badge bh-bg-warning text-dark'>Скидка {{ product.discount }}%</span>
                                {% else %}
                                    <p><strong>{{ product.price }}</strong></p>
                                {% endif %}

                                <a href="cart.html" class="btn btn-light custom-btn">В корзину</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="switchingnumbers">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if goods.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ goods.previous_page_number }}{% if category_slug %}&category={{ category_slug }}{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in goods.paginator.page_range %}
                                {% if goods.number == num %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% elif num > goods.number|add:'-3' and num < goods.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if category_slug %}&category={{ category_slug }}{% endif %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if goods.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ goods.next_page_number }}{% if category_slug %}&category={{ category_slug }}{% endif %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>                
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>
{% endblock section %}
