{% extends "main/base.html" %}
{% load static %}

{% block section %}
<section>
    <div class="container-fluid mt-4">
        <div class="row px-2">
            <div class="container-fluid mt-4">
                <div class="row px-2">
                    <div class="col">
                        <div class="row">
                            <div class="img">
                                <img class="img" src="image/гриб серёжка22.png" alt="">
                            </div>
                            <p class="descriptionimg">(рис 1.)</p>
                            <div class="img">
                                <img class="img2" src="image/Group 175.png" alt="">
                            </div>
                            <p class="descriptionimg">(рис 2.)</p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <p class="descriptiongood"> Название: Пара мухоморов. Тип: Серёжки. Описание: Есть запрещено! Ядовиты. Материал: 100% Полимерная глина (покрыта специальным лаком). Цена: 1500 р.</p>
                            <div style="margin-top: -35px;">
                                <a href=""><p class="descriptiongood">В корзину</p></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock section %}