{% extends "main/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "deps/styles/pagegood.css" %}">
{% endblock css %}

{% block section %}
<section>
    <div class="container-fluid mt-4">
        <div class="row px-2">
            <div class="container-fluid mt-4">
                <div class="row px-2">
                    <div class="col">
                        <div class="row">
                            {% if product.image2 %}
                            <div class="img">
                                <img class="img" src="{{ product.image2.url }}" alt="">
                            </div>
                            <p class="descriptionimg">(рис 1.)</p>
                            {% endif %}
                            {% if product.image3 %}
                            <div class="img">
                                <img class="img2" src="{{ product.image3.url }}" alt="">
                            </div>
                            <p class="descriptionimg">(рис 2.)</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <p class="descriptiongood"> {{ product.description }}</p>
                            <div style="margin-top: -35px;">
                                <a href=""><p class="descriptiongood">В корзину</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock section %}
