@import url('https://fonts.googleapis.com/css?family=Bad Script&display=swap');

body {
    font-family: Bad Script, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Стили для шапки */
.logo {
    display: flex;
    /* justify-content: center; */
    /* margin-top: 2vh; */
    margin-left: 12em;

}

.logomari {
    width: 200px;
    height: 100px;
    margin-left: 20vh;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 15vh;
    font-size: 1.5em;
}

.nav-link {
    margin-right: 9vh;
    color: black;
    text-decoration: underline;
}

.btn-light.custom-btn1 {
    background-color: rgb(229, 229, 229);
    /* margin-left: 80%; */
    font-size: 1em;

}

.custom2 {
    text-decoration: none;
}

.navigator a {
    color: black;
    padding: 40px;
}

.img {
    display:block;
    width: 980px;
    /* width: 80vh; */
    height: auto;
    /* margin-top: 5vh; */
    justify-content: center;
    align-items: center;
}

.img2 {
    display:block;
    width: 780px;
    height: auto;
    /* margin-left: 120px; */
    /* padding-right: 30em; */
    justify-content: center;
    align-items: center;
}

.row {
    justify-content: center;
    align-items: center;
}

.descriptiongood {
    font-size: 1.5em;
    width: 100%;
    position: relative;
    margin-bottom: 0%;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.descriptionimg {
    text-align: center;
}

footer {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(140, 140, 140);
    font-size: 0.8em;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media (max-width: 340px) {
    .img {
        max-width: 300px;
    }
    .img2 {
        max-width: 280px;
    }
}

@media (max-width: 450px) {
    .img {
        max-width: 400px;
    }
    .img2 {
        max-width: 320px;
    }
}


@media (max-width: 550px) {
    .logomari {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 15px;

    }
}

