@import url('https://fonts.googleapis.com/css?family=Bad Script&display=swap');

body {
    font-family: Bad Script, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Стили для шапки */
.logo {
    display: flex;
    /* justify-content: center; */
    /* margin-top: 2vh; */
    margin-left: 12em;

}

.logomari {
    width: 200px;
    height: 100px;
    margin-left: 20vh;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 15vh;
    font-size: 1.5em;
}

.nav-link {
    margin-right: 9vh;
    color: black;
    text-decoration: underline;
}

.custom3 {
    text-decoration: none;
}

.btn-light.custom-btn1 {
    background-color: rgb(229, 229, 229);
    /* margin-left: 80%; */
    font-size: 1em;

}

.navigator a {
    color: black;
    padding: 40px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;

}

.inputlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 35vh; */
    margin-right: 0.8em;

}

.inputpassword {
    display: flex;
    margin-right: 0.8em;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    margin-bottom: 130px;

}

.imagereg {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.iconreg {
    width: 230px;
    height: auto;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-light.custom-btn {
    background-color: rgb(229, 229, 229);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(140, 140, 140);
    font-size: 0.8em;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 550px) {
    .logomari {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 15px;

    }
}